$mat-yellow-primary:(
  50: #fdfde1,
  100: #fbfab5,
  200: #f9f784,
  300: #f6f353,
  400: #f4f12e,
  500: #f2ee09,
  600: #f0ec08,
  700: #eee906,
  800: #ece705,
  900: #e8e202,
  A100: #ffffff,
  A200: #fffedc,
  A400: #fffca9,
  A700: #fffc90,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-gray-blue-secondary: (
  50 : #edeeef,
  100 : #d3d6d8,
  200 : #b5babe,
  300 : #979ea3,
  400 : #818a90,
  500 : #6b757c,
  600 : #636d74,
  700 : #586269,
  800 : #4e585f,
  900 : #3c454c,
  A100 : #a7d7fd,
  A200 : #75c1fc,
  A400 : #3fabff,
  A700 : #25a0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

